<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749472643752-i9jljv7s0951kaq6oeetk23iuigudb5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749472643752-i9jljv7s0951kaq6oeetk23iuigudb5c</string>
	<key>API_KEY</key>
	<string>AIzaSyBIFMlT5QRJpg9rGqQoP_ztemz_FE5TO3k</string>
	<key>GCM_SENDER_ID</key>
	<string>749472643752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sal.portfolio.lead</string>
	<key>PROJECT_ID</key>
	<string>salportfolio-fef8d</string>
	<key>STORAGE_BUCKET</key>
	<string>salportfolio-fef8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749472643752:ios:9808d5fa60428d56e5609d</string>
</dict>
</plist>